# Programming Exercises 1-25

#### Exe 3

In [8]:
a = "1"
b = 2
print(int(a) + b)

3

#### Exe 5

In [12]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
# We have to print 2nd element of the list
print(letters[1])

b

#### Exe 6
Please complete the script so that it prints out a list slice containing items d , e , and f .

letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

In [16]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(letters[:6])
print(letters[:-4])

['a', 'b', 'c', 'd', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

#### Exe 7
Please complete the script so that it prints out the first three items of list letters.

letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

In [17]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(letters[:3])

['a', 'b', 'c']

#### Exe 8
Complete the script so that it prints out the letter i  using negative indexing.

letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

In [19]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(letters[-2])

i

#### Exe 9
Complete the script so that it prints out a list slice containing the last three items of the list letters .

letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

In [25]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(letters[-3:])

['h', 'i', 'j']

#### Exe 10
Complete the script so that it prints out a list slice containing letters a, c, e, g, and i. 

letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

In [36]:
abc = []
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
# The complete syntax of list slicing is [start:end:step]
letters[::2]

['a', 'c', 'e', 'g', 'i']

#### Exe 11
Create a list containing items from 1 to 20, but not manually

In [44]:
# First Method
my_list = range(1,21)
print(list(my_list))

# Second Method
abc = []
for i in range(1,21):
    abc.append(i)

abc

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

#### Exe 12
Complete the script so that it produces the expected output. Please use my_range  as input data.

my_range = range(1, 21)                                                                          
**Expected output:** 

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]

In [61]:
my_range = range(1, 21)
new_list = [10 * item for item in my_range]
new_list

[10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 120,
 130,
 140,
 150,
 160,
 170,
 180,
 190,
 200]

#### Exe 13
Complete the script, so it generates the expected output using my_range  as input data. Please note that the items of the expected list output are all strings.

my_range = range(1, 21)                                                  
 **Expected output:** 

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']

In [4]:
my_range = range(1,21)
str_range = [str(item) for item in my_range]
str_range

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20']

#### Exe 14
Complete the script so that it removes duplicate items from the list a .

a = ["1", 1, "1", 2]

In [6]:
a = ["1", 1, "1", 2]
# Set function removes the duplicate items in the list
list(set(a))

[1, '1', 2]

#### Exe 15
Create a dictionary that contains the keys a  and b  and their respective values 1  and 2 .

In [7]:
# First method
dic = {"a" : 1,
       "b" : 2}
dic

{'a': 1, 'b': 2}

In [8]:
# Second Method
dic = dict(a = 1, b = 2)
dic
# Explanation 2:

# A dict  function is another way to create a dictionary. dict  is also used to convert other objects to a dictionary

{'a': 1, 'b': 2}

#### Exe 16
Please complete the script so that it prints out the value of key b .

d = {"a": 1, "b": 2}                                                    
**Expected output:**

2

In [15]:
d = dict(a = 1, b = 2)
d["b"]

2

#### Exe 17
Calculate the sum of the values of keys a  and b .

d = {"a": 1, "b": 2, "c": 3}                                                     
**Expected output:** 

3

In [17]:
a = d["a"] + d["b"]
a

3

#### Exe 18 
Please complete the script to print out the  name                                                     
d = {"Name" : "jhon", "Surename" : "smith"}                                                   
**how to appraoh "smith" without calling key.**
`

### Solution
###### There is no key Smith  in the dictionary. Smith  is a value. You want to use Surname  if you want to access Smith :

print(d["Surname"])

#### Exe 19
Question: Add a new pair of key (e.g. c ) and value (e.g. 3 ) to the dictionary and print out the new dictionary.

d = {"a": 1, "b": 2}                                         
**Expected output:** 

  {'a': 1, 'c': 3, 'b': 2}

In [26]:
d = {"a": 1, "b": 2}
d["c"] = 3
d

{'a': 1, 'b': 2, 'c': 3}

#### Exe 20
Question: Calculate the sum of all dictionary values.

d = {"a": 1, "b": 2, "c": 3}                                                         
**Expected output:** 

 6

In [34]:
# First Method
d = {"a": 1, "b": 2, "c": 3}
sum_2 = sum(d.values())
sum_2
# d.values()  returns a list-like dict_values  object while the sum  function calculates the sum of the dict_values  items.



# Second Method
d = {"a": 1, "b": 2, "c": 3}
sum_1 = 0
for i , j in d.items():
    sum_1 = sum_1 + j
    
sum_1

6

In [35]:
d.values()

dict_values([1, 2, 3])

#### Exe 21
Question: Filter the dictionary by removing all items with a value of greater than 1.

d = {"a": 1, "b": 2, "c": 3}                                                 
**Expected output:** 

{'a': 1}

In [46]:
# First Method
d = {"a": 1, "b": 2, "c": 3}
d1 = dict((key, value) for key, value in d.items() if value <= 1)
d1
# Second Method
d = {"a": 1, "b": 2, "c": 3}
for i, j in d.items():
    if j <= 1:
        print({i,j})

{'a', 1}

In [47]:
d1

{'a': 1}

#### Exe 22
Create a dictionary where each key values is a list of vales from 1 to 10, 11 to 20, and 21 to 30 
respectively and print it out

In [51]:
# My-Method
d = dict(a = list(range(1, 11)),
         b = list(range(11, 21)),
         c = list(range(21, 31)))
d

{'a': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'b': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 'c': [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]}

In [56]:
# Instructor's Method
from pprint import pprint

d = {"a":list(range(1, 11)), "b":list(range(11, 21)), "c":list(range(21, 31))}
pprint(d)
# print(d)

{'a': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'b': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 'c': [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]}

#### Exe 23
Access the third value of key b  from the dictionary.

from pprint import pprint

d = dict(a = list(range(1, 11)), b = list(range(11, 21)), c = list(range(21, 31)))                                    
**Expected output:** 

13

In [2]:
from pprint import pprint

d = dict(a = list(range(1, 11)), b = list(range(11, 21)), c = list(range(21, 31)))
d["b"][2]

13

#### Exe 24
Please complete the script so that it prints out the expected output.

d = dict(a = list(range(1, 11)), b = list(range(11, 21)), c = list(range(21, 31)))                          
**Expected output:** 

b has value [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]                              
c has value [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]                                     
a has value [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
d = dict(a = list(range(1, 11)), b = list(range(11, 21)), c = list(range(21, 31)))
for key, value in d.items():
    print(f'''{key} has value {value}''')

a has value [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b has value [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
c has value [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [5]:
d = dict(a = list(range(1, 11)), b = list(range(11, 21)), c = list(range(21, 31)))
print(f'''
a has values {d["a"]}
b has values {d["b"]}
c has values {d["c"]}
'''  )

a has values [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b has values [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
c has values [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

#### Exe 25
Make a script that prints out alphabets from a to z

In [17]:
import string 
for letter in string.ascii_lowercase:
    print(letter)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z